html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
}
.pdc-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.pdc-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.pdc-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.pdc-drawer .mdl-menu__container {
  z-index: -1;
}
.pdc-drawer .pdc-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
/* .pdc-drawer .mdl-menu .mdl-menu__item { */
.mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pdc-drawer-header {
  color: #fff;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.pdc-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pdc-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pdc-layout .pdc-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.pdc-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

nav a, header a {
  border-bottom: 0;
}

.mdl-layout__header {
  color: #ffffff !important;
  box-shadow: none !important;
}

.mdl-layout__header-row {
  height: 130px !important;
  margin: 10px !important;
}
.mdl-layout__header .mdl-layout-title {
}

.mdl-menu__item i {
    margin-right: 10px;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px !important;
}


h1 {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 40px;
}



h2 {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 32px;
}

h3 {
    font-size: 20px !important;
    font-weight: 500;
    line-height: 1;
}

h4 {
    font-size: 16px !important;
    font-weight: 500;
    line-height: 1;
}

h5 {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1;
}

#block-pagetitle {
    padding-top: 12px;
    margin-left: 32px;
}


.pre_content, #content {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}

.pre_content {
  background-color: rgba(228,150,0,0.95);
  color: white;
}

.pre_content h1 {
  font-size: 20px !important;
  margin: 0 3px;
  font-family: "ClearSans light",sans-serif;
}

.mdl-layout__content {
    overflow-x: visible !important;
}

/**
 * Styles for Bartik's buttons.
 */

.button {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
    border: 1px solid #e4e4e4;
    border-bottom-color: #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    padding: 0.25em 1.063em;
    border-radius: 1em;
    display: inline-block;
    line-height: normal;
}
.button:hover,
.button:active,
.button:focus {
    background: #dedede;
    color: #5a5a5a;
    text-decoration: none;
}
.button.is-disabled:hover,
.button.is-disabled:active,
.button.is-disabled:focus,
.button.is-disabled {
    background: #ededed;
    border-color: #bbb;
    color: #717171;
    cursor: default;
}

.icon-pdc-logo:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
    background-repeat: no-repeat;
}

.icon-pdc-logo {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
    background-repeat: no-repeat;
    width: 143px;
    height: 71px;
    vertical-align: bottom !important;
}

.pdc-header {
    height: 151px !important;
}

.user-login-form {

}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 32px;
    margin-left: 50px;
    margin-top: 25px;
}

footer .site-name {
    color: black;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

footer .site-logo img {
    height: 43px;
    width: 87px;
}

.site-footer {
    margin: auto;
    margin-top: 40px;
    padding-left: 30% !important;
    padding-right: 30% !important;
}

#block-footeraddress,
#block-footerlogo {
    float: left;
    width: 50%
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

footer .layout-container {
    width: 100%;
}
.mdl-navigation__link,
.mdl-color-text--blue-grey-400 {
    color: #262 !important;
}

.material-icons {
    vertical-align: middle;
}

#block-breadcrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
}

div[role=alert] {
    background-color: #ffff00;
}

.mdl-data-table tbody tr,
.mdl-data-table tbody tr td {
    height: 28px !important;
}

/* default styles cause white-on-white th input */
table tr th input {
    color: black;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: solid 1px #444444;
}

td {
  padding: 10px;
  background-color: white;
  border-top: solid 1px #444444;
}