.candidate-list-pane{
  padding: 0 !important;
}

.candidate-list-button{
  padding: 2.5px;
  margin: 2.5px;
}

.candidate-list-pane title + h1{
  display: none;
}
.ui-accordion .ui-accordion-content:not(.candidate-list-pane){
  padding: 0 0 0 1.2em !important;
}


// padding for the candidate-list-button
.info-search-container select {
  margin-bottom:10px;
}

// set the styling for the all mobile content on the accordion
//Styling for mobile devices
@media only screen and (max-width: 480px) {
  // set the accordion left padding
  .ui-accordion .ui-accordion-content:not(.candidate-list-pane){
    padding: 0 0 0 .5em !important;
  }
  /* ben cut 6/25/2018 - these rules remove all margin on mobile
  .not-front .main {
    padding: 0 0 !important;
  }
  // reset the title, election year label, election years select list and view data button link
  .content-wrapper.title-wrapper h1.title, span#election-year, .electionyears, .candidate-list-button{
    margin: 0 0 0 10px;
  }
  */

  // prevent election year from wrapping
  .nowrap-electionyear{
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
  }
  // move the compare link to the left on mobile
   .fa-columns:before { padding-left: 12px;}

  // align the facebook/twitter shares with the left side
   .fa-twitter-square:before{ padding-right: 7px;}
}

.dataTables_wrapper {
  margin-bottom: 0 !important;
}

.pdc-share-link{
  float: right;
}

#explorer-accordion table.info-search{
  font-size: 90%;
}

/* Fixes issue with responsive dataTables not working correctly*/
.dataTable{
  width: 100% !important;
}

.pdc-border-padding{
  padding:15px;
}
.url-links{
  padding:3px 10px 15px 10px;
}

.pdc-border-margin{
  margin: 25px !important;
}

.address-links{
  padding-top:10px;
}

.pdc-address-content{
  margin-right:10px;
}

// for the address search for campaign explorer
.pdc-address-border {
  padding: 8px 17px;
  background: transparent;
  margin: 25px;
}
.my-cam-content{
  padding: 20px 30px;
  line-height:1.5em;
}
@media only screen and (max-width: 480px) {
  .pdc-address-border {
    margin:0px;
  }
  // Home page for follow the money address block
  .my-cam-content{
    margin:0;
    padding:5px 0px;
  }
  // Over ride default font for mobile
  .hp-main .recent-campaigns h2{
    font-size:18px !important;
  }
}

@media only screen and (min-width:768px){
  .my-cam-content{
    padding-bottom: 50px;
  }
}

.my-cam-form-item{
  margin:0 0 10px 0px;
}

.my-cam-example{
  font-style: italic;
  font-size:10px;
}

h3.my-cam-heading{
  padding-bottom:10px;
  font-size:17px;
  font-weight:bold;
}
input[type=checkbox]{
  box-shadow:none;
  height: 13px;
}
.my-cam-remember{
  white-space:nowrap;
  font-size:10px;
  padding-top:4px;
}
.my-cam-remember label, .my-cam-remember input {
  /* Other styling.. */
  float:none;
  display: inline-block;
  vertical-align:middle;
  font-weight:normal;
}

.my-cam-button {
  font: bold 11px Arial;
  text-decoration: none;
  //background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.error-msg{
  color:Red;
  padding-top:10px;
  font-size: 11px;
}


#my-cam-spinner{
  color:#439f47;
  width:24px;
  line-height:.1em;
}

div#my-cam-spinner-wrapper{
  position:relative;
  //left: 370px;
  top: -25px;
}
div#my-cam-links, div#my-cam-address{
  margin-bottom:25px;
}

.hp-content-bkg{
  background-color: rgb(249,248,248)!important;
}
// This styles the follow the money
.my-cam-form-wrapper{
  border-radius: 3px;
  margin-top:15px;
  padding: 20px;
  border: 1px solid #dddddd;
  background-color:  rgb(249,248,248)!important;
  margin-bottom: 10px;
}
#my-cam-input-field{
  width:100%;
  height:auto;
}

// progress bar styling
#my-cam-progress{
  max-width:400px;
  width: 100%;
  height: 19px;
}

// fix for modile
/* Candidates email on mobile gets really long*/
@media screen and (max-width: $bp-main-small) {
  div#my-cam-spinner-wrapper{
    position:relative;
    width:26px;
    left: 275px;
    top: -25px;
  }
  #my-cam-input-field{
    height:26px;
  }
  input[type="text"]{
    width:100% !important;
  }
  // fixes an issue were the font size of the remember my computer is smaller
  .my-cam-remember{
    white-space:nowrap;
    font-size:10px;
    padding-top:16px !important;
  }
  // fix left and right padding for the address field on mobile
  .my-cam-form-wrapper{
    margin-left: -15px;
  }

  // fix right side on mobile
  .left-fix{
    margin-right:-15px;
  }
  // fix wrapping of the year selector
  .select-years span, .select-years select{
    float:left;
  }
  // clear the float
  .select-years-clear{
    height:0px;
    margin:0px;
    clear:both;
    width:100%;
  }
}


// color error message red - italic
#error-msg, #my-cam-error-msg, #my-cam-no-results{
  color: #ff0000;
  font-style:italic;;
  font-size:12px;
}


#options-list {
  padding-left: 30px !important;
}

#my-cam-options {
//list-style: none !important;
  line-height:.5em !important;
}

// to style table elements
td.right, th.right{
  text-align:right;
}

// add a dollar symbol before the markup tag
.money-symbol:before{
  content: "$";
}

td.center, th.center{
  text-align:center;
}
