
#advanced-search-cont .filters > div > span > div {
	display: inline-block;
}
#advanced-search-cont .filter-label{
	width: 190px;
	display: inline-block;
}
#advanced-search-cont #externaly_triggered_wrapper-controls{
	width: 200px;
	display: inline-block;
	margin-bottom: 50px;
}
#advanced-search-cont div .dataTables_processing {
	/*position: relative !important;*/
	background: none !important;
	background-color:rgba(0, 0, 0, 0.1) !important;
	z-index: 5;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 20px !important;
}


.yadcf-filter, input[type="text"].yadcf-filter{
	color: black !important;

}