.alert_notice {
  width: auto;
  background: $alert-color;
  text-align: center;
  line-height: 1.5;
  font-family: "ClearSans Medium",sans-serif;
  font-size: small;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

#sendgrid-filer-outages div {
  padding-top: 5px;
  padding-bottom: 5px;
}
