// These are samples of using the grid mixins //
// please use normal class names to describe content //
// of property not it's size //
//.one-third {
//	@include make-col(4, $bp-main-medium);
//}
//.two-thirds {
//	@include make-col(8, $bp-main-medium);
//}
//.fifty-fifty {
//	@include make-col(6);
//}

body.admin-menu {
	div.tabs {
		height: 40px !important;
	}
}

.content-wrapper.title-wrapper {
	padding: 15px 0 0 0;
	h1.title {
		margin: 0;
	}
}

.content-wrapper {
	@extend .container;
	padding: 15px 0 0 0;
	position: relative;
}

.not-front {
	.print-link {
		display: inline-block;
		float: right;
		right: 20px;
		margin-left: 15px;
		@media screen and (min-width: $bp-main-medium) {
		}
		a.print-page {
			line-height: 40px;
			@media screen and (min-width: $bp-main-medium) {
				line-height: 62px;
			}
			color: #ffffff;
			&:hover {
				color: #ffffff;
			}
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	@include make-col(12);
	.two-sidebars & {
		@include make-col(6, $bp-main-medium);
		@include push(3, $bp-main-medium);
	}
	.one-sidebar & {
		@include make-col(9, $bp-main-medium);
	}
	.sidebar-first & {
		@include push(3, $bp-main-medium);
	}
}

.hp-main {
	@include make-col(12);
}

aside.sidebar-first {
	@include make-col(3, $bp-main-medium);
	.two-sidebars & {
		@include pull(6, $bp-main-medium);
	}
	.one-sidebar & {
		@include pull(9, $bp-main-medium);
	}
}

aside.sidebar-second {
	@include make-col(3, $bp-main-medium);
}

.one-third {
	@include make-col(4, $bp-main-medium);
}

.one-half {
	@include make-col(6, $bp-main-medium);
}

.one-forth {
	@include make-col(3, $bp-main-medium);
}

ul, ol {
	padding: 5px 30px;
	li {
		padding: 5px;

	}
}

a, a:link {
	font-weight: normal;
}

svg {
	display: inline-block;
	fill: currentColor;
}

// General button styling
.button {
	border-radius: 3px;
	height: 70px;
	max-height: 70px;
	transition: all .3s;
	a {
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,.30);
		padding: 0 20px;
		height: 70px;
		display: block;
		text-decoration: none;
		line-height: 1;
		text-align: center;
		font-weight: normal;
		font-size: 18px;
		transition: all .3s;
		&:hover {
			color: #e9ecf4;
			background-color: $link-color;
			border-color: $link-color;
		}
	}
}

/* Text box and select box styling */
.views-exposed-form .views-exposed-widget {
	padding: .5em 0 0 0;
	float: none;
	@media screen and (min-width: $bp-main-small) {
		padding: .5em 1em 0 0;
		float: left;
	}
}

.views-exposed-form label {
	font-size: 16px;
	margin-top: -7px;
}

.views-widget {
	margin-top: 10px;
}

.views-exposed-widget.views-submit-button {
	float: none;
	@media screen and (min-width: $bp-main-small) {
		float: left;
	}
}
.views-exposed-form .views-exposed-widget input.form-submit {
	margin-top: 0;
	float: right;
	padding: 0 20px;
	background-color: transparent;
	@media screen and (min-width: $bp-main-small) {
		margin-top: 32px;;
		float: left;
		padding: 0 10px;
	}
}

//select drop-down
select {
	background: none;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3);
	border: 1px solid #999;
	font-size: 1em;
	height: 30px;
	display: block;
	width: 100%;
	@media screen and (min-width: $bp-main-small) {
		display: inline-block;
		width: 300px;
	}
	option {
		display: block;
		white-space: pre;
		min-height: 1em;
	}
}

//exposed filter form
.views-exposed-form {
	margin-bottom: 25px;
	select#edit-field-category-tid {
		margin-top: -5px;
		width: 100% !important; //chosen module puts width in inline style
	}
	.views-exposed-widget.views-submit-button {
		float: left;
		input[type="submit"]:hover {
			color: #e9ecf4;
			background-color: $link-color;
			border-color: $link-color;
		}
	}
	.views-exposed-widget.views-reset-button {
		float: left;
		margin-left: 10px;
		@media screen and (min-width: $bp-main-small) {
			margin-left: 0;
		}
		input[type="submit"]:hover {
			color: #e9ecf4;
			background-color: $link-color;
			border-color: $link-color;
			cursor: pointer;
		}
	}
}

//select box styling
input {
	display: block;
	margin-top: 0;
	@media screen and (min-width: $bp-main-small) {
		display: inline-block;
		//margin-top: -7px;
	}
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3);
	border: 1px solid #999;
	font-size: 1em;
	border-radius: 3px;
	height: 30px;
}

a.tabledrag-handle .handle {
	height: 28px;
	width: 28px;
}

//highlighted box of text set in WYSIWYG
.highlighted {
	background-color: $bg-color;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 10px 20px 10px 20px;
}

//Added for using noscript_tag module to display a message when javascript is not enabled.
noscript {
	font-family: $heading-font;
	font-weight: bold;
	background-color: #fff300;
	color: #000;
	font-size: $base-font-size;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
}
