/* Style the election year select list */
.electionyears {
  background: transparent;
  color: black;
  border: 1px solid #ccc;
  font-size: 16px;
  /* ben 2018-06-26 - don't override default 35px height - height: 34px; */
  width: 85px;
}

/* Styles the search-terms input */
input[type="text"].search-term {
  width: 200px !important;
}

/* add this class to wrap a border */
.pdc-border {
  border-radius: 15px;
  padding-bottom: 8px;
  border: 1px solid #dddddd;
  background: transparent;
  margin-bottom: 10px;
}

/*
 * Styles for the div that render each tab cntent
 * Hides the title of the forena report.
 */
.loading > h1 {
  display: none;
}

.graph-container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.accordion_block {
  display: block;
  color: #0000BB;
  margin-bottom: 15px;
}

/* forena report paragraph tag styling to match the them
p, span, .my-cam-content, .my-cam-form-wrapper {
  font-family: Verdana, Arial, sans-serif !important;
}
*/
span#election-year {
  font-size: 1.3em;
  color: #444444
}

/* Bill King removed this .container style caused padding around the
 * entire web site content area:
 */
///*  start styling for the contributions tab graph area */
//.container {
//  width: 90%;
//  margin: auto;
//  padding: 10px;
//}
/* contributions tab */
div.left {
  float: left;
}

/* end styling for the contributions tab graph area */

#social-links {
  padding: 5px 0;
  border-top: 1px solid #f0efef;
}

/* throbber styles */
div.loading {
  min-height: 125px;
  margin-bottom: 15px;
  over-flow: hidden;
}

.icon-pdc {
  color: #43a047;
}

.fa-spin {
  width: 90% !important;
}

.fa-fw {
  margin: 25px;
  over-flow: hidden;
}

/* end throbber styles */

.accordion {
  padding-bottom: 10px !important;
}

/* this styling rules for search box*/
#search-results {
  font-style: italic;
  color: #43a047;
}

table.dataTable thead .sorting {
  //background-image: none;
}

/* Important for mobile*/
table.dataTable {
  overflow-x: auto;
}

.amended-report {
  text-decoration: line-through;
}

.pdc-info-separator {
  padding-bottom: 10px;
}

/* this class will style the titles of a element */
.label-title {
  font-weight: bold;
}

/* Candidates email on mobile gets really long*/
@media screen and (min-width: $bp-main-small) {
  div.left {
    width: 100%;
  }
}

// Tablet and larger //
@media screen and (min-width: $bp-main-medium) {
  div.left {
    width: 50%;
  }
}

@media screen and (min-width: $bp-main-large) {
  div.left {
    width: 50%;
  }
}

@media screen and (max-width: $bp-main-medium) {
  /* Styling for mobile widening the margins */
  #overview-content, #contributions-content, #expenditures-content, #loans-content, #pledges-content, #independent-expenditures-content, #reporting-history-content {
    padding: 0px !important;
  }
}

/* Fix for the jQuery tabs*/
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  color: #439f47;
}

.pieChartTitle {
  padding: 10px 0 0 0;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.pieChartLabel {
  text-align: center;
  font-family: sans-serif, arial;
  color: blue;
  font-size: 12px;
}

.pieChartFooter {
  padding: 0 10px 0 0;
  margin: 0px;
  font-family: sans-serif, arial;
  font-size: 12px;
  text-align: center;
}

// Necessary for future work on D3 Responsiveness -->
.svg-container{
  display: inline-block;
  position: relative;
  padding-top: 5px;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

// Resizes the disclaimer of the candidate overview page.
div.disclaimer{
  font-size: 75%;
  padding: 0 10px;
}
/*table.info-search td{
  font-size: 60px;
}*/

#tabs table td{
  font-size: 90%;
}
/*
  Styling for search results
 */
#con-table-title{
  padding:8px 0px;
}

.page-description{
  padding:10px;
}

.hide{
  display: none;
}

// remove padding from the buttom of dataTables
.dataTables_wrapper{
  margin-bottom:0;
}

// only apply to searchdb tables
table.searchdb-font {
  font-size: 11px !important;
}
.dataTables_filter {
  display: none !important;
}
.my-cam-form-wrapper > label{
  line-height:normal;
}
ul#options-list{
  line-height:normal;
}
.pdc-input-small{
  width: 4em !important;
}

.pdc-l5-report-list{
  float: left;
  width: 4ch;
}
.pdc-l5-reports-column{
  float: left;
  width: 16ch;
}
