.pre-footer {
	.content {
		@include clearfix();
		margin: 0 auto;
		@media screen and (min-width: $bp-main-large) {
			width: 830px;
		}
	}
	background-color: $dark-blue;
	color: #ffffff;
	padding: 30px 0;
	@media screen and (min-width: $bp-main-large) {
		padding: 50px 0;
	}
	.content {
		padding: 0 15px;
		.footer-quote {
			font-family: "Droid Serif", serif;
			font-style: italic;
			font-size: 17px;
			line-height: 41px;
			text-indent: -15px;
			text-align: center;
			@media screen and (min-width: $bp-main-small) {
				text-indent: 0;
			}
			@media screen and (min-width: $bp-main-large) {
				font-size: 18px;
				text-align: left;
				float: left;
				height: 50px;
			}
			&:before {
				content: "\201C";
				font-size: 73px;
				vertical-align: -25px;
				margin-right: 6px;
				color: $footer-bg;
			}
			&:after {
				content: "\201D";
				font-size: 73px;
				vertical-align: -45px;
				margin-left: 0px;
				color: $footer-bg;
			}
		}
		.button.learn-more-button {
			display: table;
			height: 48px;
			width: 260px;
			max-width: 260px;
			margin: 0 auto;
			@media screen and (min-width: $bp-main-large) {
				margin: 0 0 0 70px;
				float: left;
			}
			border-radius: 3px;
			transition:.3s;
			a {
				border: 1px solid #ffffff;
				display: table-cell;
				vertical-align: middle;
				background-color: $dark-blue;
				border-radius: 3px;
				text-decoration: none;
				color: #ffffff;
				text-transform: uppercase;
				max-width: 260px;
				height: 48px;
				letter-spacing: 1px;
				font-family: "ClearSans Medium", sans-serif;
				font-weight: normal;
				font-size: 16px;
				@include clearfix();
				transition:.3s;
				&:hover {
					background-color: $footer-bg;
					color: $dark-blue;
					border-color: $footer-bg;
				}
			}
		}
	}
}
.footer {
	padding: 15px 0 0 0;
	//margin: 15px 0 0 0;
	@media screen and (min-width: $bp-main-medium) {
		padding: 40px 0;
		//margin: 25px 0 0 0;
	}
	background-color: $footer-bg;
	color: #ffffff;
	ul {
		li {
			list-style-type: none;
			list-style-image: none;
			a {
				color: #ffffff;
				&:hover {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
	a {
		color: #ffffff;
		text-decoration: none;
		&:hover {
			color: #ffffff;
			text-decoration: underline;
		}
	}
	.footer-block {
		width: 100%;
		padding: 0 0 15px 0;
		@media screen and (min-width: $bp-main-medium){
			padding: 0 4% 25px 3%;
		}
		font-family: "ClearSans", sans-serif;
		font-weight: 300;
		&.footer-logo {
			@include make-col(2, 700px);
		}
		&.footer-contact {
			@include make-col(4, 700px);
		}
		&.footer-menu {
			@include make-col(3, 700px);
		}
		&.footer-get-help {
			@include make-col(3, 700px);
		}
		@media screen and (min-width: 700px){
			padding: 0 2% 0 2%;
		}
		&.footer-logo, &.footer-contact, &.footer-menu, &.footer-get-help {
			@include make-col(3, $bp-main-xlarge);
			padding: 0 0 25px 0;
			@media screen and (min-width: $bp-main-medium){
				padding: 0 4% 0 3%;
			}
		}

	}

	.footer-menu {
		ul {
			padding: 0;
			margin: 0;
			li {
				margin-left: 0;
				&:first-child {
					padding-top: 0;
					margin-top: -8px;
				}
				a {
					font-family: "ClearSans", sans-serif;
					font-weight: 300;
					line-height: 30px;
					display: inline-block;
					padding-top: 0;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.footer-contact {
		line-height: 21px;
		margin-top: -4px;
		font-size: 15px;
		@media screen and (min-width: 700px) {
			font-size: 13px;
		}
		@media screen and (min-width: $bp-main-large){
			font-size: 15px;
		}
	}

	.footer-logo {
		.pdc-name {
			color: $learn-color;
			font-weight: bold;
			font-size: 18px;
			@media screen and (min-width: 700px) {
				font-size: 16px;
			}
			@media screen and (min-width: $bp-main-large){
				font-size: 18px;
			}
		}
		a.logo {
			color: $learn-color;
			&:hover {
				text-decoration: none;
				.icon-pdc-logo {
					background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
					background-repeat: no-repeat;
				}
				.pdc-name {
					text-decoration: underline;
				}
			}
		}
		.icon-pdc-logo {
			background-size: 87px 43px;
			width: 87px;
			height: 43px;
			margin-bottom: 18px;
			@media screen and (min-width: 700px) {
				background-size: 70px 34px;
				width: 70px;
				height: 34px;
				margin-bottom: 10px;
			}
			@media screen and (min-width: $bp-main-large){
				background-size: 87px 43px;
				width: 87px;
				height: 43px;
				margin-bottom: 16px;
			}
		}
	}

	.footer-get-help {
		h3 {
			color: $learn-color;
			font-size: 15px;
			margin-bottom: 20px;
			margin-top: -5px;
		}
		a.get-help-button {
			display: block;
			background-color: #ffffff;
			text-decoration: none;
			color: $header-bg;
			text-transform: uppercase;
			padding: 8px 25px;
			max-width: 130px;
			text-align: center;
			border-radius: 3px;
			letter-spacing: 1px;
			font-size: 16px;
			font-family: "ClearSans Medium", sans-serif;
			font-weight: normal;
			margin-bottom: 13px;
			@include clearfix();
			transition:.3s;
			&:hover {
				background-color: $header-bg-hover;
				color: #ffffff;
			}
		}
	}
	ul.social{
		padding: 0;
		margin: 0;
		@include clearfix;
		li {
			padding: 10px 0 0 0;
			margin: 0;
			a{
				display: block;
				float:none;
				height: 32px;
				.icon-facebook, .icon-twitter {
					transition: all .3s ease;
					background-color: #ffffff;
					display: inline-block;
					height: 32px;
					width: 32px;
					color: $header-bg;
					padding: 5px;
					border-radius: 3px 3px 3px 3px;
				}
				span {
					transition: all .3s ease;
					&.facebook, &.twitter {
						display: inline-block;
						background-color: transparent;
						margin-left: 20px;
						vertical-align: top;
						line-height: 32px;
					}

				}
				transition: all .3s ease;
				&:hover{
					span {
						text-decoration: underline;
					}
					.icon-facebook, .icon-twitter {
						background-color: $header-bg-hover;
						color: #d5edd6;
					}
				}
			}
		}
	}
}

.footer-elements {
	@extend .container;
}