/* Header for desktop */
.test {}

.site-header {
	.region-header {
		@include clearfix();
	}
	padding: 10px 0;
	display: none;
	@media screen and (min-width: $bp-main-medium){
		display: block;
	}
	height: 150px;
	background-color: $header-bg;

	.block-search {
		padding: 0 0 0 30px;
		width: 46%;
		@media screen and (min-width: $bp-main-large) {
			width: 44%;
		}
		float: right;
		margin-top: 50px;

		h2 {
			color: #ffffff;
			font-size: 17px;
			float: right;
			display: inline-block;
			@media screen and (min-width: $bp-main-large) {
				font-size: 18px;
				line-height: 42px;
			}
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.views-exposed-form {
			display: inline-block;
			float: right;
			margin-left: 10px;
			.views-exposed-widget .form-submit {
				margin-top: 0;
			}
			input {
				margin-top: 0;
				border: none;
				box-shadow: none;
				@media screen and (min-width: $bp-main-medium) {
					margin-top: 0;
					border: 0;
					box-shadow: none;
				}
			}
			.views-exposed-form .views-exposed-widget .form-submit {
				border: none;
				box-shadow: none;
			}
			input.icon-search {
				background-color: transparent;
				border: none;
				width: 19px;
				height: 19px;
				cursor: pointer;
				@media screen and (min-width: $bp-main-medium) {
					border:none;
				}
				@media screen and (min-width: $bp-main-large) {
					width: 21px;
					height: 21px;
				}
			}
			input.icon-search:hover {
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2018%2019%22%20style%3D%22enable-background%3Anew%200%200%2018%2019%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M17.6%2C16l-4.9-4.9c0.7-1.2%2C1.2-2.6%2C1.2-3.9c0-3.8-3.1-7-7-7c-3.8%2C0-7%2C3.1-7%2C7s3.1%2C7%2C7%2C7c1.2%2C0%2C2.2-0.3%2C3.1-0.8l5.1%2C5.1%0D%0A%09c0%2C0%2C0.8%2C0.8%2C1.6%2C0l0.8-0.8C18.5%2C16.8%2C17.6%2C16%2C17.6%2C16z%20M7%2C11.8c-2.6%2C0-4.6-2.1-4.6-4.6S4.5%2C2.5%2C7%2C2.5c2.6%2C0%2C4.6%2C2.1%2C4.6%2C4.6%0D%0A%09S9.6%2C11.8%2C7%2C11.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
				background-repeat: no-repeat;
			}
			.form-text {
				box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
				width: 0;
				opacity: 0;
				transition: opacity 0.9s;
				overflow: hidden;
				padding: 0;
				border: none;
				background-color: #ffffff;
				&.open {
					display: inline-block;
					background-color: #ffffff;
					width: 165px;
					margin-top: -3px;
					@media screen and (min-width: $bp-main-large) {
						width: 200px;
						margin-top: 0;
					}
					@media screen and (min-width: 1100px) {
						width: 250px;
					}
					@media screen and (min-width: $bp-main-xlarge) {
						width: 300px;
					}
					opacity: 1;
					padding: 5px 30px 5px 5px;
					border: 1px solid #dddddd;
				}
			}
		}
	}

	a.logo {
		display: inline-block;
		float: left;
		padding: 15px 0 0 35px;
		width: 21%;
		.icon-pdc-logo {
			width: 143px;
			height: 71px;
			@media screen and (min-width: $bp-main-large) {
				width: 173px;
				height: 86px;
			}
		}
		&:hover {
			text-decoration: none;
			#site-slogan {
				text-decoration: none;
				color: #59b95d;
			}
			.icon-pdc-logo {
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
				background-repeat: no-repeat;
			}
		}
		#site-slogan {
			color: #FFFFFF;
			font-family: "ClearSans", sans-serif;
			font-weight: 300;
			width: 148px;
			font-size: 10px;
			margin-left: 22px;
			margin-top: -12px;
			line-height: 15px;
			@media screen and (min-width: $bp-main-large) {
				font-size: 11px;
				margin-left: 29px;
				margin-top: -15px;
				line-height: 16px;
			}
		}
	}
	.quick-links-border {
		float: right;
		border-left: 1px solid #8ec691;
		height: 80px;
		width: 10px;
	}
	.menu-quick-links {
		float: right;
		border-left: 1px solid #8ec691;
		max-width: 300px;
		padding-bottom: 0;
		width: 23%;
		margin-top: 13px;
		@media screen and (min-width: 900px){
			width: 30%;
			padding-top: 0;
			margin-top: 25px;
		}
		@media screen and (min-width: $bp-main-large){
			width: 33%;
			padding-top: 5px;
		}
		@media screen and (min-width: $bp-main-xlarge){
			width: 35%;
		}
		h2 {
			font-weight: bold;
			line-height: 1;
			font-family: "ClearSans", sans-serif;
			font-size: 14px;
			color: $header-header-color;
			text-transform: uppercase;
			padding: 0 0 0 27px;
			@media screen and (min-width: 900px){
				font-size: 16px;
				padding: 0 0 0 27px;
			}
		}
		ul {
			list-style-type: none;
			margin: 0 0 0 20px;
			padding: 0;
			li {
				list-style-image: none;
				list-style-type: none;
				display: block;
				border-right: none;
				line-height: 18px;
				padding: 0 10px 0 0;
				@media screen and (min-width: 900px){
					display: inline;
					border-right: 1px solid $header-header-color;
					line-height: 23px;
				}
				&:last-child {
					border-right: none;
				}
				a, a:hover, a:active, a:link, a.hover {
					color: #ffffff;
					font-size: 11px;
					@media screen and (min-width: 900px) {
						font-size: 13px;
					}
					@media screen and (min-width: $bp-main-large) {
						font-size: 14px;
					}
					@media screen and (min-width: 1028px) {
						font-size: 15px;
					}
					font-weight: 300;
				}
			}
		}
	}
}
/* Header for mobile */
.mobile-site-header {
	display: block;
	background-color: $header-bg;
	@media screen and (min-width: $bp-main-medium){
		display: none;
	}
	.block-search {
		width: 100%;
		margin-bottom: 10px;
		form#views-exposed-form-search-view-page-page {
			margin-top: 10px;
		}
		@include clearfix();
		.container-inline.search-block  {
			@include clearfix();
			position: relative;
			width: 100%;
		}
		h2 {
			color: #ffffff;
			font-size: 16px;
			font-weight: 300;
			line-height: 30px;
			position: absolute;
			top: -22px;
		}
		.form-text {
			box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
			overflow: hidden;
			display: inline-block;
			margin-top: -3px;
			margin-right: 5px;
			opacity: 1;
			padding: 5px;
			border: 1px solid #dddddd;
			width: 200px;
			@media screen and (min-width: $bp-main-small) {
				width: 250px;
			}
		}
		.views-exposed-form .views-exposed-widget {
			float: left;
		}
		.views-exposed-widget.views-submit-button {
			float: left;
		}
		.views-exposed-form .views-exposed-widget .form-submit {
			padding: 0;
			margin-left: 7px;
			background-color: transparent;
			border: none;
			width: 19px;
			height: 22px;
			cursor: pointer;
			box-shadow: none;
			@media screen and (min-width: $bp-main-small) {
				margin-top: 0;
			}
		}
	}
	.menu-quick-links {
		display: none;
		float: none;
	}
	#site-slogan {
		color: #FFFFFF;
		font-family: "ClearSans", sans-serif;
		font-weight: 300;
		font-size: 12px;
		float: none;
		width: 100%;
		@media screen and (min-width: $bp-main-small){
			width: 83%;
			font-size: 15px;
			position: absolute;
			bottom: 8px;
			right: 0;
		}
	}
	a.logo {
		@include clearfix();
		display: block;
		margin: 8px 0 15px 0;
		position: relative;
		$logo-width: 16%;
		.icon-pdc-logo {
			width: $logo-width;
			padding-bottom: ($logo-width * .25);
			background-size: 100%;
			float: none;
			@media screen and (min-width: $bp-main-small) {
				float: left;
				padding-bottom: ($logo-width * .35);
			}
		}
		&:hover {
			text-decoration: none;
			#site-slogan {
				text-decoration: none;
				color: #59b95d;
			}
			.icon-pdc-logo {
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
				background-repeat: no-repeat;
			}
		}
	}
	.region-header {
		@include clearfix();
	}
}

.header-elements {
	@extend .container;
}

/* left pop-out menu */
.main-menu{
	transition: left 0.5s ease;
	.button-wrap{
		border-top: 3px solid #59b95d;
		border-bottom: 0px solid #ffffff;
		@media screen and (min-width: $bp-main-medium) {
			border-top: none;
			border-bottom: none;
		}
		.ie8 & {
			height: auto !important;
		}
		ul{
			margin: 0;
			padding:0;
			list-style-type:none;
			@include clearfix;
			display: block;
			&.social{
				display: none;
				margin-top: 5px;
			}
			li{
				margin: 0;
				padding:0;
				display: none;
				&.menu{
					display: block;;
				}
				@media screen and (min-width: $bp-main-medium){
					display: inline;
				}
				a.menu-toggle{
					border:none;
					color: $learn-color;
					font-weight: normal;
				}
			}
			@media screen and (max-width:767px){
				.ie8 & {
					height: auto !important;
				}
			}
		}
		a{
			display: block;
			text-align: center;
			font-size: 11px;
			text-transform: uppercase;
			padding: 15px 0px;
			line-height: 1;
			background: $header-bg;
			@media screen and (min-width: $bp-main-medium){
				width:20%;
				float: left;
				min-height: 59px;
				padding:5px 0px;
				height: auto;
				background:#fff;
				font-weight: bold;
			}
			&:hover{
				text-decoration: none;
			}
			@media screen and (max-width: $bp-main-medium - 1){
				&.menu-toggle{
					padding: 8px;
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 300;
					color: #ffffff;
				}
			}
		}
	}

	.menu-toggle {
		cursor: pointer;
	}
	.menu-icon{
		display: inline-block;
		width: 29px;
		padding-top: 16px;
		margin-right:10px;
		position: relative;
		margin-top: 2px;
		.line{
			width:100%;
			height: 2px;
			background-color: $learn-color;
			position: absolute;
			display: block;
			@media screen and (min-width: $bp-main-medium){
				background-color: #479F4B;
			}
		}
		.line-top{
			top:0px;
			left:0px;
		}
		.line-middle{
			top:50%;
			left:0px;
			margin-top:-1px;
		}
		.line-bottom{
			bottom:0px;
			left:0px;
		}
	}
	@media screen and (min-width: $bp-main-medium){
		.menu-icon{
			display: block;
			padding-top:16px;
			width: 34px;
			margin: 0 auto 5px;
		}
	}
	.ie8 & {
		svg {
			display: none;
		}
	}
	/* pop-out left nav and mobile menu nav */
	nav{
		display: none;
		background: $menu-bg;
		transition: left 0.5s ease;
		a{
			&:hover{
				background:transparent;
			}
		}
		.menu{
			font-size: 14px;
			display: none;
			a{
				border-bottom: 1px solid $menu-line;
			}
		}
		// pop-out main menu, mobile menu //
		ul#main-menu, ul#menu-quick-links, ul#menu-social {
			list-style-type: none;
			li {
				padding: 0;
				margin-bottom: 3px;
				a {
					color: $primary-color;
					font-size: 16px;
					font-weight: 300;
				}
				a.learn, a.browse, a.engage {
					color: #ffffff;
					font-size: 21px;
					padding: 20px;
					width: 100%;
					display: block;
					background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%22612px%22%20height%3D%22792px%22%20viewBox%3D%220%200%20612%20792%22%20enable-background%3D%22new%200%200%20612%20792%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M489.601%2C395.779c0.02%2C16.691-5.524%2C33.388-16.638%2C44.529L228.458%2C685.403%0D%0A%09%09c-22.228%2C22.28-61.173%2C22.328-89.019%2C0.107c-22.282-22.229-22.329-61.173-0.107-89.019L339.382%2C395.96L138.85%2C195.911%0D%0A%09%09c-22.282-22.228-22.329-61.173-0.107-89.018c22.228-22.281%2C61.173-22.328%2C89.019-0.107L472.855%2C351.29%0D%0A%09%09C483.996%2C362.404%2C489.58%2C379.088%2C489.601%2C395.779z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
					background-repeat: no-repeat;
					background-size: 12px 16px;
					background-position: right 20px top 55%;

					&:hover {text-decoration: none;}
				}
				a.learn {
					background-color: $learn-color;
					&:hover {
						background-color: $learn-hover;
					}
				}

				a.browse {
					background-color: $browse-color;
					&:hover {
						background-color: $browse-hover;
					}
				}
				a.engage {
					background-color: $engage-color;
					&:hover {
						background-color: $engage-hover;
					}
				}
			}
		}
		ul#main-menu {
			padding: 0;
			margin: 0 0 27px 0;
		}
		ul#menu-quick-links {
			padding: 0 10px 5px 10px;

		}
		ul#menu-social {
			padding: 0 10px 20px 10px;
		}
		ul#menu-quick-links, ul#menu-social {
			li {
				padding: 0 10px 20px 10px;
			}
		}

		h2 {
			font-size: 21px;
			color: $header-bg;
			padding: 0 10px 10px 10px;
			margin: 0 10px 15px 10px;
		}
		@media screen and (min-width: $bp-main-medium){
			overflow-y: scroll !important;
			.block{
				padding:15px 25px 0px;
			}

			.menu{
				display: block !important;
				a{
					border:none;
					padding:3px 0px;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}


}

// Tablet and larger //
	@media screen and (min-width: $bp-main-medium){
	.not-front {
		.main-menu{
			&:after {
				-webkit-box-shadow: none;
				-moz-box-shadow:    none;
				box-shadow:         none;
				border-right: 1px solid #d3d3d3;
			}
		}
	}
	.main-menu{
		position: fixed;
		top:0px;
		left:-250px;
		width:300px;
		z-index: 20;
		&:after {
			z-index: -1;
			position: absolute;
			content: "";
			left: 250px;
			top: 20px;
			width: 50px;
			height: 100%;
			background: rgba(0, 0, 0, 0);
			-webkit-box-shadow: 7px 0px 25px 0px rgba(0, 0, 0, 0.1);
			-moz-box-shadow:    7px 0px 25px 0px rgba(0, 0, 0, 0.1);
			box-shadow:         7px 0px 25px 0px rgba(0, 0, 0, 0.1);
		}
		height: 100%;

		.admin-menu &{ // Make sure the menu isn't hidden under the admin menu //
			padding:29px 0px 0px;
		}
		.admin-menu-with-shortcuts &{ // Push further when shortcuts are visable
			padding:62px 0px 0px;
		}


		// OPENED MAIN MENU //
		&.open{
			left:0;
		}
		nav{
			float:left;
			width:250px;
			display: block;
			height: 100% !important;
			//padding: 10px 0 15px 0;
			padding: 0;
		}
		// END OPENED MAIN MENU //

		// Strip of buttons on the left, pops out to show left nav //
		.button-wrap{
			float:right;
			width:50px;
			background: #fff;
			min-height: 390px;
			.ie8 &{
				width:49px;
			}
			ul{
				@include clearfix;
				height: auto;
				a {
					float:none;
					width:100%;
					padding:5px 5px;
					min-height: 0px;
					margin: 0 auto;
					margin-top: 5px;
				}
				&.social{
					display: block;
					@include clearfix;
					a{
						display: block;
						float:none;
						height: 32px;
						margin-top: 15px;
						.icon-facebook, .icon-twitter {
							transition: all .3s ease;
							background-color: #ffffff;
							display: inline-block;
							height: 32px;
							width: 32px;
							color: $header-bg;
							padding: 5px;
							border: 1px solid #dddddd;
							border-radius: 3px;

							-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
							-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
							box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
						}
						span {
							transition: all .3s ease;
							background-color: #bababa;
							&.facebook, &.twitter {
								display: inline-block;
								background-color: transparent;
								margin-left: 20px;
								vertical-align: top;
								line-height: 32px;
								text-indent: -9999em;
							}

						}
						transition: all .3s ease;
						&:hover{
							.icon-facebook, .icon-twitter {
								background-color: $header-bg-hover;
								color: #d5edd6;
								border: 1px solid $header-bg-hover;

								-webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
								-moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
								box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
							}
						}
					}
				}
				&.links{
					@include clearfix;
					a{
						div.icon-container {
							height: 41px;
							width: 41px;
							min-height:0px;
							position: relative;
							background-color: $header-bg-hover;
					 	}

						span.get-help, span.email-subscribe {
							display: block;
							margin-top: 0;
							color: #255827;
							font-weight: normal;
						}
						svg.icon-get-help, svg.icon-email-subscribe {
							color: #ffffff;
							display: inline-block;
							position: absolute;
							top: 5px;
							left: 5px;
							height: 30px;
							width: 30px;
						}
						transition: all .3s ease;
						&:hover {
							div.icon-container {
								background-color: #ffffff;
							}
							span.get-help, span.email-subscribe {
								color: #255827;
							}
							svg.icon-get-help, svg.icon-email-subscribe {
								color: $header-bg;
							}
						}
					}
				}
			}


		}
	}
	.wrapper{
		display: block;
		margin-left: 50px;
		transition: left 0.5s ease;
		position: relative;
		left:0;
		min-height: 400px;
		.menu-open &{  // When main menu opens move body to the right //
			position: relative;
			left:250px;
		}
	}
	body{
		overflow-x:hidden;
	}
}
