/* The Modal (background) */
#pdc-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#pdc-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  overflow: hidden;
}

/* The Close Button */
#pdc-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#pdc-modal-close:hover,
#pdc-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.colorblk{
  color:#000000;
  font-size:12px;
}

table tbody tr:nth-child(odd){
  background-color: #E4E4E4 !important;
}

table tbody tr:nth-child(even){
  background-color: #F0F0F0 !important;
}

// Styling for the D3 charts
.bar_chart_table {
  margin: auto;
  display:none;
}

.legend {
  display:block
}

.chart .legend {
  fill: black;
  font: 12px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: start;
}

.chart .label {
  fill: black;
  font: 12px sans-serif;
  text-anchor: end;
}

.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

@media only screen and (max-width: 480px) {
   #pdc-modal-content{ width:100%};
}