/* stylesheet for printer friendly pages */
*[class^='print-'] {
	padding: 0 30px;
}

.print-link, .print-page, .print-icon-margin, .print-icon {
	padding: 0;
}

.print-site_name {
	margin-top: 30px;
}

.print-links {
	margin-bottom: 30px;
	@include clearfix();
}

img.print-icon-margin {
	padding-right: 4px;
	height: 20px;
	width: 20px;
}