// override the tableit.js mobile styles to widen the
// non-header column
@media only screen and (max-width: 480px) {
	table.tableit td {
		padding-left: 10% !important;
		padding-top: 35px !important;
		width: 100%;
	}
	.view-recent-campaign-registrations, .view-all-campaigns {
		table.tableit td {
			padding-top: 20px !important;
			&.views-field-view-node, &.views-field-path {
				padding-top: 0 !important;
				padding-left: 0 !important;
			}
		}
	}
	table.tableit td:before {
		width: 95%;
		padding-left: 0;
	}
}
//managing responsive tables here
table.tableit {
	caption {
		width: 100%;
		display: block;
		@media only screen and (min-width: 481px) {
			display: table-caption;
		}
	}
}
// Table styles for desktop
@media only screen and (min-width: 481px) {
	table.tableit, table {
		display: table;
		width: 100%;
	}
	.tableit tr, .tableit thead tr, tr, thead tr {
		display:table-row;
	}
	.tableit td, td {
		display: table-cell;
	}
}

table {
	tr {
		display: table-row;
		td, th {
			display: table-cell;
		}
		td {
			color: $text-color;
			padding: 10px;
			p{
				color: $text-color;
			}
		}
	}
	thead {
		tr {
			background-color: $bg-color;
			th {
				color: #439F47;
				text-transform: uppercase;
				padding: 10px;
			}
		}
	}
	tbody {
		tr:nth-child(even) {
			background-color: #f0f0f0;
		}
		tr:nth-child(odd) {
			background-color: #E4E4E4;
		}
	}
}
