//@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700");
@import url("//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic");

@font-face {
	font-family: 'ClearSans';
	font-weight: normal;
	src: url('../fonts/ClearSans-Regular.eot');
	src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Regular.woff') format('woff'),
	url('../fonts/ClearSans-Regular.ttf')  format('truetype'),
	url('../fonts/ClearSans-Regular.svg#ClearSans-Regular') format('svg');
}

@font-face {
	font-family: 'ClearSans Bold';
	font-weight: bold;
	src: url('../fonts/ClearSans-Bold.eot');
	src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Bold.woff') format('woff'),
	url('../fonts/ClearSans-Bold.ttf')  format('truetype'),
	url('../fonts/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
}

@font-face {
	font-family: 'ClearSans Light';
	font-weight: normal;
	src: url('../fonts/ClearSans-Light.eot');
	src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Light.woff') format('woff'),
	url('../fonts/ClearSans-Light.ttf')  format('truetype'),
	url('../fonts/ClearSans-Light.svg#ClearSans-Light') format('svg');
}

@font-face {
	font-family: 'ClearSans Thin';
	font-weight: normal;
	src: url('../fonts/ClearSans-Thin.eot');
	src: url('../fonts/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Thin.woff') format('woff'),
	url('../fonts/ClearSans-Thin.ttf')  format('truetype'),
	url('../fonts/ClearSans-Thin.svg#ClearSans-Thin') format('svg');
}

@font-face {
	font-family: 'ClearSans Medium';
	font-weight: normal;
	src: url('../fonts/ClearSans-Medium.eot');
	src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClearSans-Medium.woff') format('woff'),
	url('../fonts/ClearSans-Medium.ttf')  format('truetype'),
	url('../fonts/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
}

html {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
	font-size: $base-font-size;
}
body {
	line-height: 1.5;
	font-family: $primary-font;
	color: $text-color;
}

.heading {
	font-family: $heading-font;
	//font-weight: bold;
	font-weight: normal;
	margin: 0 0 10px;
}

h1{
	@extend .heading;
	font-size: 23px;
	font-family: "ClearSans Medium", sans-serif;
	font-weight: normal;
	@media screen and (min-width: $bp-main-medium) {
		font-size: 28px;
	}
}

h2{
	@extend .heading;
	font-size: 19px;
	@media screen and (min-width: $bp-main-medium) {
		font-size: 21px;
	}
}

h3 {
	@extend .heading;
	font-size: 15px;
	color: $text-color;
	text-decoration: none;
	@media screen and (min-width: $bp-main-medium) {
		font-size: 17px;
	}
}

h4,
h5,
h6{
	@extend .heading;
	font-size: 14px;
}

p {
	margin: 10px 0;
	font-family: "Droid Serif", serif;
	color: $text-color; 
}

a, a:active, a:link {
	color: $link-color;
	text-decoration: none;
	font-family: $heading-font;
	font-weight: bold;
	&:hover {
		color: darken($link-color, 10%);
		text-decoration: underline;
	}
	&.active {
		color: darken($link-color, 10%);
	}
}

li {
	a, a:active, a:link {
		color: $link-color;
		text-decoration: none;
		font-family: $heading-font;
		font-weight: bold;
		&:hover {
			color: darken($link-color, 10%);
			text-decoration: underline;
		}
		&.active {
			color: darken($link-color, 10%);
		}
	}
}

ul, ol {
	li {
		a, a:active, a:link {
			@extend a;
		}
	}
}

