.icon-arrow {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2011%207%22%20style%3D%22enable-background%3Anew%200%200%2011%207%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M5.5%2C0.2c0.3%2C0%2C0.6%2C0.1%2C0.8%2C0.3l4.4%2C4.4c0.4%2C0.4%2C0.4%2C1.1%2C0%2C1.6c-0.4%2C0.4-1.1%2C0.4-1.6%2C0L5.5%2C2.9L1.9%2C6.5%0D%0A%09%09c-0.4%2C0.4-1.1%2C0.4-1.6%2C0c-0.4-0.4-0.4-1.1%2C0-1.6l4.4-4.4C4.9%2C0.3%2C5.2%2C0.2%2C5.5%2C0.2z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-arrow-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%22612px%22%20height%3D%22792px%22%20viewBox%3D%220%200%20612%20792%22%20enable-background%3D%22new%200%200%20612%20792%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M489.601%2C395.779c0.02%2C16.691-5.524%2C33.388-16.638%2C44.529L228.458%2C685.403%0D%0A%09%09c-22.228%2C22.28-61.173%2C22.328-89.019%2C0.107c-22.282-22.229-22.329-61.173-0.107-89.019L339.382%2C395.96L138.85%2C195.911%0D%0A%09%09c-22.282-22.228-22.329-61.173-0.107-89.018c22.228-22.281%2C61.173-22.328%2C89.019-0.107L472.855%2C351.29%0D%0A%09%09C483.996%2C362.404%2C489.58%2C379.088%2C489.601%2C395.779z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-arrow-up-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2011%207%22%20width%3D%2211%22%20height%3D%227%22%20style%3D%22enable-background%3Anew%200%200%2011%207%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M5.5%2C0.2c0.3%2C0%2C0.6%2C0.1%2C0.8%2C0.3l4.4%2C4.4c0.4%2C0.4%2C0.4%2C1.1%2C0%2C1.6c-0.4%2C0.4-1.1%2C0.4-1.6%2C0L5.5%2C2.9L1.9%2C6.5%0D%0A%09%09c-0.4%2C0.4-1.1%2C0.4-1.6%2C0c-0.4-0.4-0.4-1.1%2C0-1.6l4.4-4.4C4.9%2C0.3%2C5.2%2C0.2%2C5.5%2C0.2z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-campaign {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2034%2029%22%20style%3D%22enable-background%3Anew%200%200%2034%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20points%3D%2225.6%2C25.5%2018.1%2C25.5%2015.9%2C25.5%203.6%2C25.5%203.6%2C3.5%2023%2C3.5%2026.7%2C0%200.1%2C0%200.1%2C29%2029.1%2C29%2029.1%2C14.5%2025.6%2C18%20%09%22/%3E%0D%0A%09%3Cpolygon%20points%3D%2232.2%2C2.9%2030.5%2C1.2%2029.1%2C2.5%2025.6%2C6.1%2017.1%2C14.5%2012%2C9.1%208.3%2C12.4%2017%2C21.6%2025.6%2C13%2029.1%2C9.5%2033.9%2C4.7%20%09%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-campaign-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2034%2029%22%20style%3D%22enable-background%3Anew%200%200%2034%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23ffffff%22%20points%3D%2225.6%2C25.5%2018.1%2C25.5%2015.9%2C25.5%203.6%2C25.5%203.6%2C3.5%2023%2C3.5%2026.7%2C0%200.1%2C0%200.1%2C29%2029.1%2C29%2029.1%2C14.5%2025.6%2C18%20%09%22/%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23ffffff%22%20points%3D%2232.2%2C2.9%2030.5%2C1.2%2029.1%2C2.5%2025.6%2C6.1%2017.1%2C14.5%2012%2C9.1%208.3%2C12.4%2017%2C21.6%2025.6%2C13%2029.1%2C9.5%2033.9%2C4.7%20%09%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-featured {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2029%2029%22%20style%3D%22enable-background%3Anew%200%200%2029%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20d%3D%22M27.1%2C0H7.2c-1%2C0-1.8%2C0.8-1.8%2C1.8v7v0.3v1.8v10.6c0%2C0.8-0.6%2C1.4-1.4%2C1.4c-0.8%2C0-1.4-0.6-1.4-1.4V10.9V9.1H1.8%0D%0A%09c-1%2C0-1.8%2C0.8-1.8%2C1.8v13.6c0%2C2%2C1.6%2C4.5%2C3.6%2C4.5h21.8c2%2C0%2C3.6-2.5%2C3.6-4.5V1.8C28.9%2C0.8%2C28.1%2C0%2C27.1%2C0z%20M13.2%2C16h12.4v2.4H13.2V16z%0D%0A%09%20M25.6%2C22.8H10.4v-2.4h15.1V22.8z%20M25.6%2C14.1H8.6v-2.4h16.9V14.1z%20M25.6%2C8.7H8.6V3.3h16.9V8.7z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-featured-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2029%2029%22%20style%3D%22enable-background%3Anew%200%200%2029%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M27.1%2C0H7.2c-1%2C0-1.8%2C0.8-1.8%2C1.8v7v0.3v1.8v10.6c0%2C0.8-0.6%2C1.4-1.4%2C1.4c-0.8%2C0-1.4-0.6-1.4-1.4V10.9V9.1H1.8%0D%0A%09c-1%2C0-1.8%2C0.8-1.8%2C1.8v13.6c0%2C2%2C1.6%2C4.5%2C3.6%2C4.5h21.8c2%2C0%2C3.6-2.5%2C3.6-4.5V1.8C28.9%2C0.8%2C28.1%2C0%2C27.1%2C0z%20M13.2%2C16h12.4v2.4H13.2V16z%0D%0A%09%20M25.6%2C22.8H10.4v-2.4h15.1V22.8z%20M25.6%2C14.1H8.6v-2.4h16.9V14.1z%20M25.6%2C8.7H8.6V3.3h16.9V8.7z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-pdc-logo-hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-pdc-logo {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20173%2086%22%20style%3D%22enable-background%3Anew%200%200%20173%2086%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M129.6%2C49.8L129.6%2C49.8L129.6%2C49.8L129.6%2C49.8c-0.1%2C0-0.2%2C0-0.4%2C0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4%2C3.4-7.9%2C7.6-7.9%0D%0A%09c4.2%2C0%2C7.6%2C3.5%2C7.6%2C7.9c0%2C1.8-0.6%2C3.4-1.5%2C4.7h19.3c0.3-1.6%2C0.4-3.2%2C0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4%2C0-19.4%2C6.7-23.4%2C16.3%0D%0A%09V0.6H86.7v43.5l0%2C0c0%2C4-3.5%2C7.3-7.8%2C7.3c-4.3%2C0-7.8-3.3-7.8-7.3c0-4%2C3.5-7.3%2C7.8-7.3c1.7%2C0%2C3.3%2C0.6%2C4.6%2C1.4V18.3%0D%0A%09c-1.5-0.2-3-0.4-4.6-0.4c-11.4%2C0-21.3%2C6.6-25.4%2C15.9c-3.7-10.2-14-17.6-26.1-17.6c-15%2C0-27.1%2C11.2-27.5%2C25.2l0%2C0v0.6v43.3h19.5V42.1%0D%0A%09c0-4.1%2C3.6-7.5%2C8-7.5s8%2C3.4%2C8%2C7.5c0%2C4.1-3.6%2C7.5-8%2C7.5c-1.8%2C0-3.5-0.6-4.8-1.5v19.4c1.6%2C0.3%2C3.2%2C0.4%2C4.8%2C0.4%0D%0A%09c11.4%2C0%2C21.3-6.6%2C25.4-15.9c3.7%2C10.2%2C14%2C17.6%2C26.1%2C17.6c12.6%2C0%2C23.3-8.1%2C26.5-19c3.3%2C10.8%2C12.7%2C18.7%2C23.8%2C18.9v0.1H173V49.9h-43.4%0D%0A%09V49.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2018%2019%22%20style%3D%22enable-background%3Anew%200%200%2018%2019%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2329622b%22%20d%3D%22M17.6%2C16l-4.9-4.9c0.7-1.2%2C1.2-2.6%2C1.2-3.9c0-3.8-3.1-7-7-7c-3.8%2C0-7%2C3.1-7%2C7s3.1%2C7%2C7%2C7c1.2%2C0%2C2.2-0.3%2C3.1-0.8l5.1%2C5.1%0D%0A%09c0%2C0%2C0.8%2C0.8%2C1.6%2C0l0.8-0.8C18.5%2C16.8%2C17.6%2C16%2C17.6%2C16z%20M7%2C11.8c-2.6%2C0-4.6-2.1-4.6-4.6S4.5%2C2.5%2C7%2C2.5c2.6%2C0%2C4.6%2C2.1%2C4.6%2C4.6%0D%0A%09S9.6%2C11.8%2C7%2C11.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-search-hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2018%2019%22%20style%3D%22enable-background%3Anew%200%200%2018%2019%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%2359b95d%22%20d%3D%22M17.6%2C16l-4.9-4.9c0.7-1.2%2C1.2-2.6%2C1.2-3.9c0-3.8-3.1-7-7-7c-3.8%2C0-7%2C3.1-7%2C7s3.1%2C7%2C7%2C7c1.2%2C0%2C2.2-0.3%2C3.1-0.8l5.1%2C5.1%0D%0A%09c0%2C0%2C0.8%2C0.8%2C1.6%2C0l0.8-0.8C18.5%2C16.8%2C17.6%2C16%2C17.6%2C16z%20M7%2C11.8c-2.6%2C0-4.6-2.1-4.6-4.6S4.5%2C2.5%2C7%2C2.5c2.6%2C0%2C4.6%2C2.1%2C4.6%2C4.6%0D%0A%09S9.6%2C11.8%2C7%2C11.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-browse-gold {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2045%2030%22%20style%3D%22enable-background%3Anew%200%200%2045%2030%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23edbb59%22%20d%3D%22M44.1%2C15c0%2C0-8.7%2C15-21.6%2C15S0.9%2C15%2C0.9%2C15S9.6%2C0%2C22.5%2C0C35.4-0.1%2C44.1%2C15%2C44.1%2C15z%20M33.1%2C15c0-5.8-4.8-10.6-10.6-10.6%0D%0A%09%09S11.9%2C9.3%2C11.9%2C15s4.8%2C10.6%2C10.6%2C10.6S33.1%2C20.8%2C33.1%2C15z%20M22.5%2C10.3c-2.6%2C0-4.7%2C2.2-4.7%2C4.8c0%2C2.6%2C2.1%2C4.7%2C4.7%2C4.7%0D%0A%09%09s4.8-2.1%2C4.8-4.7C27.3%2C12.4%2C25%2C10.3%2C22.5%2C10.3z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-browse-hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2045%2030%22%20style%3D%22enable-background%3Anew%200%200%2045%2030%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23c9a359%22%20d%3D%22M44.1%2C15c0%2C0-8.7%2C15-21.6%2C15S0.9%2C15%2C0.9%2C15S9.6%2C0%2C22.5%2C0C35.4-0.1%2C44.1%2C15%2C44.1%2C15z%20M33.1%2C15c0-5.8-4.8-10.6-10.6-10.6%0D%0A%09%09S11.9%2C9.3%2C11.9%2C15s4.8%2C10.6%2C10.6%2C10.6S33.1%2C20.8%2C33.1%2C15z%20M22.5%2C10.3c-2.6%2C0-4.7%2C2.2-4.7%2C4.8c0%2C2.6%2C2.1%2C4.7%2C4.7%2C4.7%0D%0A%09%09s4.8-2.1%2C4.8-4.7C27.3%2C12.4%2C25%2C10.3%2C22.5%2C10.3z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-engage-hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2044%2033%22%20style%3D%22enable-background%3Anew%200%200%2044%2033%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23a9676d%22%20d%3D%22M30.3%2C7.9c2.2%2C0%2C4.3%2C0.4%2C6.3%2C1c-3-5.1-9.7-8.6-17.5-8.6C8.6%2C0.3%2C0%2C6.9%2C0%2C15.1c0%2C4.1%2C2.2%2C7.8%2C5.7%2C10.5l0%2C0l-1.3%2C6.6l6.2-3.9%0D%0A%09%09l0%2C0c2.6%2C1%2C5.5%2C1.5%2C8.5%2C1.6c-3.1-2.3-5-5.6-5-9.2C14.1%2C13.6%2C21.4%2C7.9%2C30.3%2C7.9z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23a9676d%22%20d%3D%22M44%2C20.5c0-5.6-6.1-10.2-13.7-10.2S16.7%2C15%2C16.7%2C20.5s6.1%2C10.2%2C13.7%2C10.2c1.8%2C0%2C3.5-0.3%2C5-0.7l0%2C0l4.4%2C2.7l-0.6-4.3%0D%0A%09%09C42.1%2C26.5%2C44%2C23.7%2C44%2C20.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-engage-red {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2044%2033%22%20style%3D%22enable-background%3Anew%200%200%2044%2033%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23cc6d76%22%20d%3D%22M30.3%2C7.9c2.2%2C0%2C4.3%2C0.4%2C6.3%2C1c-3-5.1-9.7-8.6-17.5-8.6C8.6%2C0.3%2C0%2C6.9%2C0%2C15.1c0%2C4.1%2C2.2%2C7.8%2C5.7%2C10.5l0%2C0l-1.3%2C6.6l6.2-3.9%0D%0A%09%09l0%2C0c2.6%2C1%2C5.5%2C1.5%2C8.5%2C1.6c-3.1-2.3-5-5.6-5-9.2C14.1%2C13.6%2C21.4%2C7.9%2C30.3%2C7.9z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23cc6d76%22%20d%3D%22M44%2C20.5c0-5.6-6.1-10.2-13.7-10.2S16.7%2C15%2C16.7%2C20.5s6.1%2C10.2%2C13.7%2C10.2c1.8%2C0%2C3.5-0.3%2C5-0.7l0%2C0l4.4%2C2.7l-0.6-4.3%0D%0A%09%09C42.1%2C26.5%2C44%2C23.7%2C44%2C20.5z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-learn-blue {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2036%2030%22%20style%3D%22enable-background%3Anew%200%200%2036%2030%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%237d8293%22%20d%3D%22M1.6%2C26.8V3.2H0c0%2C0%2C0%2C23.7%2C0%2C25.1c0%2C0.9%2C0.6%2C1.6%2C1.6%2C1.6h15.6c-2.9-2.8-9.3-3.1-14.1-3.1C1.6%2C26.8%2C1.6%2C26.8%2C1.6%2C26.8z%0D%0A%09%09%20M32.9%2C25.2V0.1c0%2C0%2C0%2C0-1.6%2C0c-6.4%2C0-9.7%2C1-12.5%2C3.1v25.1c2.8-2.1%2C6.1-3.1%2C12.5-3.1C32.9%2C25.2%2C32.9%2C25.2%2C32.9%2C25.2z%20M34.4%2C3.2%0D%0A%09%09v23.5c0%2C0%2C0%2C0-1.6%2C0c-4.7%2C0-11.2%2C0.4-14.1%2C3.1h15.6c0.9%2C0%2C1.6-0.6%2C1.6-1.6c0-1.4%2C0-25.1%2C0-25.1L34.4%2C3.2L34.4%2C3.2z%20M3.1%2C0.1v25.1%0D%0A%09%09c0%2C0%2C0%2C0%2C1.6%2C0c6.4%2C0%2C9.7%2C1%2C12.5%2C3.1V3.2c-2.8-2.1-6.1-3.1-12.5-3.1C3.1%2C0.1%2C3.1%2C0.1%2C3.1%2C0.1z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-learn-hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2036%2030%22%20style%3D%22enable-background%3Anew%200%200%2036%2030%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%236d7079%22%20d%3D%22M1.6%2C26.8V3.2H0c0%2C0%2C0%2C23.7%2C0%2C25.1c0%2C0.9%2C0.6%2C1.6%2C1.6%2C1.6h15.6c-2.9-2.8-9.3-3.1-14.1-3.1C1.6%2C26.8%2C1.6%2C26.8%2C1.6%2C26.8z%0D%0A%09%09%20M32.9%2C25.2V0.1c0%2C0%2C0%2C0-1.6%2C0c-6.4%2C0-9.7%2C1-12.5%2C3.1v25.1c2.8-2.1%2C6.1-3.1%2C12.5-3.1C32.9%2C25.2%2C32.9%2C25.2%2C32.9%2C25.2z%20M34.4%2C3.2%0D%0A%09%09v23.5c0%2C0%2C0%2C0-1.6%2C0c-4.7%2C0-11.2%2C0.4-14.1%2C3.1h15.6c0.9%2C0%2C1.6-0.6%2C1.6-1.6c0-1.4%2C0-25.1%2C0-25.1L34.4%2C3.2L34.4%2C3.2z%20M3.1%2C0.1v25.1%0D%0A%09%09c0%2C0%2C0%2C0%2C1.6%2C0c6.4%2C0%2C9.7%2C1%2C12.5%2C3.1V3.2c-2.8-2.1-6.1-3.1-12.5-3.1C3.1%2C0.1%2C3.1%2C0.1%2C3.1%2C0.1z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-facebook-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22457%20488%2020%2020%22%20enable-background%3D%22new%20457%20488%2020%2020%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22facebook-icon%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M464.8%2C494.8H463v3h1.8v8.9h3.6v-8.9h2.5l0.3-3h-2.7c0%2C0%2C0-1.1%2C0-1.7c0-0.7%2C0.1-1%2C0.8-1%0D%0A%09c0.5%2C0%2C1.9%2C0%2C1.9%2C0V489c0%2C0-2%2C0-2.5%2C0c-2.6%2C0-3.8%2C1.2-3.8%2C3.4C464.8%2C494.3%2C464.8%2C494.8%2C464.8%2C494.8z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-twitter-white {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22246%20246%2020%2020%22%20enable-background%3D%22new%20246%20246%2020%2020%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22twitter-icon%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M264.7%2C250.6c-0.6%2C0.3-1.3%2C0.5-2%2C0.6c0.7-0.4%2C1.3-1.1%2C1.6-2c-0.7%2C0.4-1.4%2C0.7-2.3%2C0.9%0D%0A%09c-0.6-0.7-1.6-1.1-2.6-1.1c-2.3%2C0-4%2C2.1-3.5%2C4.4c-3-0.1-5.6-1.6-7.3-3.7c-0.9%2C1.6-0.5%2C3.7%2C1.1%2C4.7c-0.6%2C0-1.1-0.2-1.6-0.4%0D%0A%09c0%2C1.6%2C1.1%2C3.2%2C2.9%2C3.5c-0.5%2C0.1-1%2C0.2-1.6%2C0.1c0.5%2C1.4%2C1.8%2C2.4%2C3.3%2C2.5c-1.5%2C1.2-3.4%2C1.7-5.3%2C1.5c1.6%2C1%2C3.4%2C1.6%2C5.5%2C1.6%0D%0A%09c6.6%2C0%2C10.3-5.6%2C10.1-10.6C263.6%2C252%2C264.2%2C251.3%2C264.7%2C250.6z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-home {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2018%2018%22%20style%3D%22enable-background%3Anew%200%200%2018%2018%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20points%3D%2218%2C9%209%2C0%200%2C9%202.2%2C9%202.2%2C18%206.8%2C18%206.8%2C12.4%2011.2%2C12.4%2011.2%2C18%2015.8%2C18%2015.8%2C9%20%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}

.icon-home-green {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2018%2018%22%20style%3D%22enable-background%3Anew%200%200%2018%2018%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%2343a047%22%20points%3D%2218%2C9%209%2C0%200%2C9%202.2%2C9%202.2%2C18%206.8%2C18%206.8%2C12.4%2011.2%2C12.4%2011.2%2C18%2015.8%2C18%2015.8%2C9%20%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}



