{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class=""breadcrumb">
    {% set i=0 %}
    {% for item in breadcrumb %}
        {% if i>0 %}
            /
        {% endif %}
        {% set i=i+1 %}
        {% if item.url %}
          <a href="{{ item.url }}" class="">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
    {% endfor %}
    </div>
  </nav>
{% endif %}
