{#
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Foo Bar</a>
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set icons = {
        'Campaign Finance':'monetization_on',
        'Compliance':'gavel',
        'Data Administration':'settings',
        'Administration': 'settings',
        'Data Entry':'keyboard',
        'Filer Assistance':'perm_phone_msg',
        'Customer Service': 'perm_phone_msg',
        'Home':'home',
        'Logout':'power_settings_new'
    } %}
    {% for item in items %}
      {%
        set classes = [
          'mdl-navigation__link',
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      <a href="{{item.url}}" {{ item.attributes.addClass(classes) }}>
        <i class="mdl-color-text--green-600 material-icons" role="presentation">
        {% if icons[item.title] %}
          {{ icons[item.title] }}
        {% else %}
          star
        {% endif %}
        </i>
        {{item.title}}
      </a>
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
      {# </a> #}
    {% endfor %}
  {% endif %}
{% endmacro %}
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
