{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="pdc-drawer mdl-layout__drawer mdl-color--green-600 mdl-color-text--green-60">
  <header class="pdc-drawer-header">
  {% if picture %}
    <img src="{{ picture }}" class="pdc-avatar">
  {% endif %}
    <div class="pdc-avatar-dropdown">
      <span>{{ user_email }}</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
      {# <li class="mdl-menu__item"><i class="material-icons">person</i>Profile</li> #}
      {% if logged_in %}
        <li class="mdl-menu__item"><a href="/user/{{ user_uid }}/edit"><i class="material-icons">settings</i>Settings</a></li>
        <li class="mdl-menu__item"><a href="/user/logout"><i class="material-icons">power_settings_new</i>Sign Out</a></li>
      {% else %}
        <li class="mdl-menu__item"><a href="/user/"><i class="material-icons">power_settings_new</i>Sign In</a></li>
      {% endif %}
      </ul>
    </div>
  </header>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
