{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
    <header class="pdc-header mdl-layout__header mdl-color--green-600 mdl-color-text--white">
        <div class="mdl-layout__header-row">
            <a href="/" title="Home" class="logo">
                <div class="icon-pdc-logo">&nbsp;</div>
            </a>
            <div class="mdl-layout-title">
              {% if content %}
                {{ content }}
              {% endif %}
            </div>
            <div class="mdl-layout-spacer"></div>
           {#
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
            #}
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item"><a href="http://www.pdc.wa.gov/"><i class="material-icons">public</i>PDC Site</a></li>
                {# <li class="mdl-menu__item"><i class="material-icons">info</i>About</li> #}
                <li class="mdl-menu__item"><a href="""><i class="material-icons">forum</i>Contact</a></li>
            </ul>
        </div>
    </header>
