.container{
	width:100%;
	max-width: $site-width;
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	margin-left:auto;
	margin-right:auto;
  	@include clearfix();
}
.row:before, 
.row:after {                                                                                                                                   
    content:"";
    display: table ;
    clear:both;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    position: relative;
}

.col {
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	min-height: 1px;
}

@mixin make-col ($number, $min-width: 0px){
	@extend .col;
	@if $min-width > 0 {
		@media screen and (min-width: $min-width){
			@if $number != $grid-columns { float:left; }
			width: percentage($number / $grid-columns);
		}
	}
	@else {
		@if $number != $grid-columns { float:left; }
		width: percentage($number / $grid-columns);
	}
}

@mixin pull($number, $min-width: 0px){
	@if $min-width > 0 {
		@media screen and (min-width: $min-width){
			left: -(percentage($number / $grid-columns));
			position: relative;
		}
	}
	@else {
		left: -(percentage($number / $grid-columns));
		position: relative;
	}
}
@mixin push($number, $min-width: 0px){
	@if $min-width > 0 {
		@media screen and (min-width: $min-width) {
			left: percentage($number / $grid-columns);
			position: relative;
		}
	}
	@else {
		left: percentage($number / $grid-columns);
		position: relative;
	}
}

//@for $i from 1 through $grid-columns {
//	.col-xs-#{$i} { 
//		@include make-col($i);
//	}
//	.col-sm-#{$i} { 
//		@include make-col($i, $bp-main-small);
//	}
//	.col-md-#{$i} { 
//		@include make-col($i, $bp-main-medium);
//	}
//	.col-lg-#{$i} { 
//		@include make-col($i, $bp-main-large);
//	}
//}