// em() function
// Convert px to em in a readable fashion.
// Examples:
// 1. font-size: em(14px);
// 2. font-size: em(30px/14px);
@function em($value, $context: $base-font-size) {
	@return ($value / $context) * 1em;
}

// DARKEN ITEM 10% ON HOVER //
@mixin setBackgroundOnHover($baseColor){
	background-color: $baseColor;
	&:hover{
		background-color: darken($baseColor, 10%);
	}
}

// PHOTOSHOP DROP SHADOW //
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
 
//--------------------------------
// Photoshop Drop Shadow
//--------------------------------
@mixin photoshop-drop-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false) {
	$angle: (180 - $angle) * pi() / 180; // convert to radians
	$h-shadow: round(cos($angle) * $distance);
	$v-shadow: round(sin($angle) * $distance);
	$css-spread: $size * $spread/100;
	$blur: ($size - $css-spread);
	$inset: if($inner != false, 'inset', '');
	
	@include box-shadow($h-shadow $v-shadow $blur $css-spread $color unquote($inset));
}

//--------------------------------
// Photoshop Inner Shadow
//--------------------------------
@mixin photoshop-inner-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
	@include photoshop-drop-shadow ($angle, $distance, $spread, $size, $color, true);
}
 
//--------------------------------
// Photoshop Text Shadow
//--------------------------------
@mixin photoshop-text-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  // NOTE: $spread has no effect for text shadows
	$angle: (180 - $angle) * pi() / 180;
	$h-shadow: round(cos($angle) * $distance);
	$v-shadow: round(sin($angle) * $distance);
	$css-spread: $size * $spread/100;
	$blur: ($size - $css-spread);
	
	@include text-shadow($h-shadow $v-shadow $blur $color);
}

// CSS TRANSITIONS //
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// CLEARFIX //
@mixin clearfix(){
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// BREAKPOINTS //
@mixin bp-large {
	@media only screen and (min-width: $bp-main-small) {
		@content;
	}
}
@mixin bp-medium {
	@media only screen and (min-width: $bp-main-medium) {
		@content;
	}
}
@mixin bp-small {
	@media only screen and (min-width: $bp-main-large) {
		@content;
	}
}