// Grid Variables //
$grid-columns: 12;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px;

// Largest container width
$site-width: 1200px;

// Breakpoint Sizes //
$bp-main-small: 480px;
$bp-main-medium: 768px;
$bp-main-large: 940px;
$bp-main-xlarge: $site-width;

// Custom breakpoints //

// Colors //
$alert-color: #FFE380;
$primary-color: #444;
$secondary-color: #ddd;
$text-color: #444444;
$light-text: #666666;
$link-color: #005aea;
$learn-color: #383f59;
$learn-hover: #1f2331;
$browse-color: #e49600;
$browse-hover: #ac7100;
$engage-color: #b11e2c;
$engage-hover: #7b151f;
// Need to set these to the right colors //
$header-bg: #43a047;
$header-bg-hover: #59b95d;
$footer-bg: #43a047;
$dark-blue: #383f59;
$menu-bg: #f0f0f0;
$menu-heading: #333;
$menu-line: #333;
$header-header-color: #29622b;
$bg-color: #f8f8f8;

// Fonts //
$primary-font: 'Droid Serif', serif;
$heading-font: 'ClearSans Medium', sans-serif;
$base-font-size: 14px;
